@import "./fonts/fonts";

body {
  font-family: "Grtsk Peta", sans-serif;
}

.container {
  border: 3px solid green;
  background: yellow;
  padding: 30px;

  &__item {
    color: red;
  }
}

body {
  font-family: "Grtsk Peta";
  font-weight: 700;
}
